# Python Collections (Arrays)
There are four collection data types in the Python programming language:

    List is a collection which is ordered and changeable. Allows duplicate members.

    Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

    Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
    
    Dictionary is a collection which is ordered** and changeable. No duplicate members.

    Tuple items are ordered, unchangeable, and allow duplicate values.
    
    Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

In [3]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

print(len(thistuple))

('apple', 'banana', 'cherry')
3

    To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [5]:
thistuple = ("apple", )
print(type(thistuple))

thistuple = ("banana")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

    A tuple can contain different data types:

In [ ]:

tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

('abc', 34, True, 40, 'male')

# The tuple() Constructor

In [7]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')