# Assign String to a Variable

In [36]:
a = "hello"
print(a)

hello

# Multiline Strings
You can assign a multiline string to a variable by using three quotes:

In [37]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

# Python Strings
1. Checking strings and if/else operation
2. Slicing Strings
3. Modify Strings
4. Concatenate Strings
5. Format Strings
6. Escape Strings
7. String Methods

# 1. Checking strings and if/else operation

In [ ]:
text = "The best thing in life are free"

print("free" in text)
print('expensice' in text)
print('expensive' not in text)

if 'expensive' not in text:
    print("No, 'expensive' is NOT present")

True
False
True
No, 'expensive' is NOT present

# 2. Slicing Strings

In [ ]:
a = 'Hello, World'

print(a[2:5])   # llo

# Slice from the beginning:
print(a[:5])    # Hello

# Slice to the End:
print(a[3:])    # llo, World

# Negative Indexingn
print(a[-5: -2])    # Wor

llo
Hello
lo, World
Wor

# 3. Modify Strings

In [ ]:
a = "Hello, World"

# Upper Case
print(a.upper())

# Lower Case
print(a.lower())

b = "   Remove whitespace    "

# Remove Whitespace
print(b.strip())

# Remove Strings
print(a.replace("Hell", "Nic"))

c = "My, name, is, Emon, Rahman"
d = "My name is Emon Rahman"
# Split Strings
print(c.split( "," ))   # split for comma(,)
print(d.split( " " ))   #splited for whitespace (" ")

HELLO, WORLD
hello, world
Remove whitespace
Nico, World
['My', ' name', ' is', ' Emon', ' Rahman']
['My', 'name', 'is', 'Emon', 'Rahman']

# 4. String Concatenation:

In [ ]:
a = 'hello'
b = 'world'

print(a + b)
print(a + " " + b)

helloworld
hello world

# 5. Format Strings

In [57]:
# 1. String Format

age = 23
text = "My age is " + str(age)

print(text)

My age is 23

In [ ]:
# 2. F-String/ Place-Holder

age = 23
text = f"My age is {age}"

print(text)

My age is 23

In [59]:
# 3. Displaying price using 2 Decimals

price = 43
text = f"The price is {price:.2f} dollars"

print(text)

The price is 43.00 dollars

In [60]:
# 4. Math Operation

price = 29
print(f"The price is {price* 5} dollars")

The price is 145 dollars

# 5. Escape Characteristics
    To insert characters that are illegal in a string use an escape character.

In [61]:
# text = "We are "Vikings", from the North." -> Wrong
text = "We are \"Vikings\", from the North."
print(text)

We are "Vikings", from the North.

In [78]:
# 1. \' -> Single Quote
print('It\'s alright')

# 2. \\ -> Backslash
print("Insert one \\ (One backslash)")

# 3. \n -> new line

# 4. \r o -> Carriage return
text = "Hello\rWorld\rEmon"
print(text)

# 5. \t -> tab

# 6. \b -> backspace (Erases one character (backspace))
text = "hello \bworld"
print(text)

# 7. \f -> from feed 

# 8. \ooo -> Octal Value
print("\110\145\154\154\157") # "Hello"
 
# 9. \xhh -> Hex Value
print("\x48\x65\x6c\x6c\x6f") # "Hello"

It's alright
Insert one \ (One backslash)
Emond
helloworld
Hello
Hello

# String Methods
    1. capitalize() -> Converts the first character to upper case.

    2. casefold() -> Converts string into lower case.

    3. center() -> Returns a centered string

    4. count() -> Returns the numbero of times a specified value occurs in a string

In [84]:
# 3. center()

text1 = "Banana"
print(text1.center(10))

text2 = "Banana"
print(text2.center(20))

  Banana
       Banana